body{
    height:100vh;
    background: linear-gradient(135deg,rgba(255,255,255,1) 0%, rgba(115,165,189,0.64) 100%);
    font-family:"Google Sans Code", serif;
    margin:0;
}

#baseBox{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#mainBox{
    width:75%;
    background:white;
    border-radius:30px;
    padding:40px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    border-top:3px solid rgba(115,165,189,0.64);
}

nav{
    display:flex;
    justify-content:space-between;
    margin-bottom:30px;
}

.navButton{
    background:#536c80;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:10px;
    cursor:pointer;
    transition:0.2s;
    margin-right:10px;
}

.navButton:hover{
    transform:scale(1.05);
}

.section{ display:none; }

.card{
    background:white;
    padding:20px;
    border-radius:18px;
    box-shadow:0 6px 15px rgba(0,0,0,0.08);
    transition:all 0.2s ease;
    border-left:4px solid rgba(115,165,189,0.7);
}

.card:hover{
    transform:translateY(-4px);
    box-shadow:0 10px 25px rgba(0,0,0,0.12);
}

input{
    padding:8px;
    border-radius:8px;
    border:1px solid #ccc;
    margin:5px;
}

#availableSlots,
#myBookings,
#myAvailabilities,
#bookedToMe{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
}

button{
    background:#536c80;
    color:white;
    border:none;
    padding:8px 16px;
    border-radius:8px;
    cursor:pointer;
    transition:0.2s;
}

button:hover{
    background:#405464;
    transform:scale(1.05);
}

.rating{
    background:#fff8dc;
    padding:4px 8px;
    border-radius:8px;
    display:inline-block;
}

@media (max-width: 700px){

    #availableSlots,
    #myBookings,
    #myAvailabilities,
    #bookedToMe{
        grid-template-columns: 1fr;
    }

}